$secondary: #058283;
$primary: #111117;
$soft_dark: #19191F;
$lightgrey: #C0C3D0;
$light_text: #DAECED;
$light: #FFFFFF;
$dark_blue: #21333E;
$light_blue: #DAECED;
$light_blue_2nd: #CCE3DE;
$dark_green: #0E272D;
$secondary_darkgreen: #0F4E51;
$quote: #47474C;
$form: #ECECEC;
$darker: #0D0D11;
;